.sticky-footer {
    /* display: block; */
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

.footer-style {
    background-color: #fff;
    border-top: 3px double #000;
    opacity: 0.75;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}
